/_mlruns/**
/.venv/**
/_outputs/**
/_outputs
/__pycache__/*
/__pycache__/
__pycache__/
/_mlruns
.env
/_outputs/
/_mlruns/
/_old/
/_old/**
.DS_Store
_mlruns
_old
__pycache__
_outputs
_mlruns/
_old/
alembic.ini
mlruns
mlruns/
/mlruns
alembic.ini