/_mlruns/**
/.venv/**
/outputs/**
/outputs
/__pycache__/*
/__pycache__/
__pycache__/
/_mlruns
.env
/outputs/
/_mlruns/
/_old/
/_old/**
.DS_Store
_mlruns
_old
__pycache__
outputs
_mlruns/
_old/
alembic.ini
mlruns
mlruns/
/mlruns
sources
/.idea/.name
